$blue: #007bff;
$white:#fff;

$typography-xxs: 1.2rem;
$typography-xs: 1.4rem;
$typography-sm: 1.6rem;
$typography-md: 1.8rem;
$typography-lg: 2rem;
$typography-xl: 2.4rem;
$typography-xxl: 2.8rem;
$typography-xxxl: 3.2rem;

$space-xs: 0.2rem;
$space-sm: 0.4rem;
$space-md: 0.8rem;
$space-lg: 1.6rem;
$space-xl: 3.2rem;
$space-xxl: 6.4rem;